In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import linear_model
from word2number import w2n

df = pd.read_csv("hiring.csv")
df = df.rename(columns={'test_score(out of 10)': 'test_score'})
df = df.rename(columns={'interview_score(out of 10)': 'score'})
df = df.rename(columns={'salary($)': 'salary'})
df.experience = df.experience.fillna("zero")
df.experience = df.experience.apply(w2n.word_to_num)
df.test_score = df.test_score.fillna(df['test_score'].mean())
df

   experience  test_score  score  salary
0           0    8.000000      9   50000
1           0    8.000000      6   45000
2           5    6.000000      7   60000
3           2   10.000000     10   65000
4           7    9.000000      6   70000
5           3    7.000000     10   62000
6          10    7.857143      7   72000
7          11    7.000000      8   80000

In [19]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score', 'score']], df.salary)

LinearRegression()

In [20]:
reg.predict(np.array([[2,9,6]]))

/Users/Rahul/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53290.89255945])

In [21]:
reg.predict(np.array([[12,10,10]]))

/Users/Rahul/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92268.07227784])